@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rubik+Gemstones&display=swap');
h1{
    background-color: blueviolet;
    font: size 60px;
    color: black;
    font-family: 'Rubik Gemstones', cursive;
}
p{
    background-color: bisque;
    font-size: 20PX;
    color: brown;
}